@import "../../../@fuse/scss/fuse";
#mapaPage {

  .header {

      .search-wrapper {
          width: 100%;
          max-width: 480px;
          border-radius: 28px;
          overflow: hidden;
          @include mat-elevation(1);

          .search {
              width: 100%;
              height: 48px;
              line-height: 48px;
              padding: 0 18px;

              input {
                  width: 100%;
                  height: 48px;
                  min-height: 48px;
                  max-height: 48px;
                  padding: 0 16px;
                  border: none;
                  outline: none;
              }
          }
      }
  }

  .content {
      //overflow: hidden;
      //flex: 1;
      .sidebar {

          &:not(.locked-open) {
              background: white;
          }
      }
      .map-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 30px;
      }

      .map-frame {
        border: 2px solid black;
        height: 100%;
      }

      #map {
        width: auto;
        height: 466px;
      }
  }
}


#add-contact-button1 {
  position: absolute;
  bottom: 8px;
  right: 12px;
  padding: 0;
  z-index: 99;

  @include media-breakpoint('xs') {
      position: sticky;
      top: calc(100vh - 120px);
      bottom: auto;
  }
}
#add-contact-button2 {
  position: absolute;
  bottom: 70px;
  right: 12px;
  padding: 0;
  z-index: 99;

  @include media-breakpoint('xs') {
      position: sticky;
      top: calc(100vh - 120px);
      bottom: auto;
  }
}

#add-contact-button3 {
  position: absolute;
  bottom: 132px;
  right: 12px;
  padding: 0;
  z-index: 99;

  @include media-breakpoint('xs') {
      position: sticky;
      top: calc(100vh - 120px);
      bottom: auto;
  }
}
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}