<div class="page-layout blank p-24" fusePerfectScrollbar>

    
    <div fxFlex="1 0 auto" fxLayout="column">
      <h2>{{'SAMPLE.HELLO' | translate}}</h2>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="radio" name="GoogleMap" id="" autocomplete="off" checked>
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="GeoServerMap" id="" autocomplete="off">
        </label>
      </div>
    </div>
    <div fxFlex="1 0 auto" fxLayout="column">
      <div class="map-container">
        <div class="map-frame">
          <div id="map">
              
          </div>
        </div>
      </div>
    </div>
    

</div>
