<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <!-- HEADER -->
    <div class="header accent me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" fxLayout="row" fxLayoutAlign="start center">
        <divv class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;" fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-30">videogame_asset</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="h1 mt-16">Creation of the Game Questions and Answer</span>
            </div>

        </divv>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content p-24">
        <div class="h1">
            Create Game
        </div>

        <div class="horizontal-stepper-wrapper" fxFlexFill>

            <!-- HORIZONTAL STEPPER EXAMPLE -->
            <mat-horizontal-stepper class="mat-elevation-z4" [linear]="false"  fxFlex="100%" fxFlexFill>

                 <mat-step [stepControl]="horizontalStepperStep1">

                    <form fxLayout="column" [formGroup]="horizontalStepperStep1">

                        <ng-template matStepLabel>Game</ng-template>

                        <div fxFlex="1 0 auto" fxLayout="column">

                            <mat-form-field class="titulo" appearance="outline" fxFlex="100">
                                <mat-label>Title of game</mat-label>
                                <input matInput formControlName="nameGame"  [(ngModel)]="addGames.Games" required>
                                <mat-icon matSuffix class="secondary-text">title</mat-icon>
                                <mat-error>Name of the game is required!</mat-error>
                            </mat-form-field>

                            <mat-form-field class="answer" appearance="outline" fxFlex="100">
                              <mat-label>Cantidad de Preguntas</mat-label>
                              <input type="number" matInput formControlName="cant_preg"  [(ngModel)]="addGames.Questions" required>
                              <mat-icon matSuffix class="secondary-text">assignment</mat-icon>
                          <mat-error>Questions is required!</mat-error>
                          </mat-form-field>

                          <mat-form-field class="question" appearance="outline" fxFlex="100">
                              <mat-label>Cantidad de Respuestas</mat-label>
                              <input type="number" matInput formControlName="cant_resp" required>
                              <mat-icon matSuffix class="secondary-text">assignment</mat-icon>
                          </mat-form-field>
                          <div  fxLayout="column" class="dropzone" style="width: 50%; height: auto;">
                            <div fxLayout="row" fxFlex="1 0 auto" style="    width: 100%; height: 50%;
                            margin-top: 10px;
                            border-bottom-width: 10px;
                            margin-bottom: 10px;">
                                <ngx-dropzone [id]="gameicon" class="game-icon" (change)="onSelectIcon($event)"
                                [multiple] = "false"
                                accept="image/jpg,image/png">
                                    <ngx-dropzone-label>>Icon of Game</ngx-dropzone-label>
                                    <ngx-dropzone-image-preview *ngIf="gameIconf" class="preview" ngProjectAs="ngx-dropzone-preview" [file]="gameIconf">
                                        <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                                    </ngx-dropzone-image-preview>
                                </ngx-dropzone>
                            </div>
                             <div fxLayout="row" fxFlex="1 0 auto" style="width: 100%;
                            height: 5%; margin-top: 10px; margin-bottom: 5px;" >
                                <label >DRAG AND DROP</label>
                            </div>
                        </div>

                  </div>

                  <div fxLayout="row" fxLayoutAlign="center center">
                      <button class="mr-8"  (click)="addGame()"  mat-raised-button type="button" color="accent">
                          Add Game
                      </button>

                      <button mat-raised-button type="button" color="accent">
                          Skip
                      </button>
                  </div>

              </form>

          </mat-step>

                <mat-step [stepControl]="horizontalStepperStep2">

                    <form fxLayout="column" [formGroup]="horizontalStepperStep2">

                        <ng-template matStepLabel>Configure Game</ng-template>

                        <div fxFlex="1 0 auto" fxLayout="column">

                            <mat-form-field  class="question" appearance="outline" fxFlex="100">
                                <mat-label>Redacte la pregunta</mat-label>
                                <input matInput #postalCode2 formControlName="redacte" required>
                                <mat-error>Redaction is required!</mat-error>
                            </mat-form-field>

                            <h2>Respuestas</h2>

                            <div fxFlex="1 0 auto" fxLayout="column" class="game">

                              <mat-form-field   class="resp1"  appearance="outline" fxFlex="50">
                                <div  fxLayout="row" fxLayoutAlign="center center">
                                    <mat-form-field>
                                    <mat-label>Respuesta 1</mat-label>
                                    <input matInput formControlName="redacte1" required>

                                    <mat-error>Respuesta 1 is required!</mat-error>
                                </mat-form-field>



                                     <ngx-dropzone id="image1" class="images" (change)="onSelect($event)"
                                    [multiple] = "false"
                                    accept="image/jpg,image/png">
                                        <ngx-dropzone-label>{{'FORMS.IMAGE1_PLACEHOLDER' | translate}}</ngx-dropzone-label>
                                        <ngx-dropzone-image-preview *ngIf="image1" class="preview" ngProjectAs="ngx-dropzone-preview" [file]="image1">
                                            <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                                        </ngx-dropzone-image-preview>
                                    </ngx-dropzone>

                            </div>

                            </mat-form-field>

                            <label class="switch">
                              <label>Correcta</label>
                              <input  type="checkbox" /> <span class="slider round"></span>
                               </label>

                            <mat-form-field  class="resp2"  appearance="outline" fxFlex="50">
                                <div  fxLayout="row" fxLayoutAlign="center center">
                            <mat-form-field>
                                <mat-label>Respuesta 2</mat-label>
                                <input matInput formControlName="redacte2" required>

                                <mat-error>Respuesta 2 is required!</mat-error>
                            </mat-form-field>
                                <ngx-dropzone id="image2" class="images" (change)="onSelect($event)"
                            accept="image/jpg,image/png"
                            [multiple] = "false">
                                <ngx-dropzone-label>{{'FORMS.IMAGE2_PLACEHOLDER' | translate}}</ngx-dropzone-label>
                                <ngx-dropzone-image-preview *ngIf="image2" class="preview" ngProjectAs="ngx-dropzone-preview" [file]="image2">
                                    <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                                </ngx-dropzone-image-preview>
                            </ngx-dropzone>
                        </div>
                            </mat-form-field>

                               <label class="swit">
                                <label>Correcta</label>
                              <input  type="checkbox" /> <span class="slider round"></span>
                               </label>

                            </div>


                        </div>

                        <div fxLayout="row" fxLayoutAlign="center center">
                            <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                PREVIOUS
                            </button>
                            <button  class="mr-8" mat-raised-button type="button" color="accent" >
                                SAVE
                            </button>
                            <button  class="mr-8" mat-raised-button type="button" color="accent" >
                                NEW
                            </button>
                            <button  class="mr-8" mat-raised-button type="button" color="accent" >
                                QUIT
                            </button>
                            <button   class="mr-6" mat-fab class="accent" id="addbutton"  aria-label="add_answer "
                          [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
                               <mat-icon>post_add</mat-icon>
                           </button>
                        </div>

                    </form>

                </mat-step>

                <mat-step [stepControl]="horizontalStepperStep3">

                    <form fxLayout="column" [formGroup]="horizontalStepperStep3">

                        <ng-template matStepLabel>List of Game</ng-template>
                        <div class="customer mb-32">
                          <div class="row" >
                            <table class="simple" >
                                <thead >
                                    <tr>
                                        <th>Games</th>
                                        <th>Cantidad de Preguntas</th>
                                        <th>Opcion</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        <td>
                                            <span class="game text-truncate">titanic</span>
                                        </td>
                                        <td>
                                            <span class="cantidad text-truncate">10</span>
                                        </td>
                                        <td><button mat-raised-button type="button" color="accent"  >Editar</button></td>
                                        <td><button  mat-raised-button type="button" color="warn" >Borrar</button></td>

                                    </tr>
                                </tbody>
                            </table>
                          </div>
                        </div>
                    </form>

                </mat-step>
            </mat-horizontal-stepper>
            <!-- / HORIZONTAL STEPPER EXAMPLE -->

        </div>
    </div>
</div>

